<%- include("../partials/header") %>
<link rel="stylesheet" type="text/css" href="/stylesheets/new.css" />
</head>
<body>

<%- include("../partials/nav") %>
<h1 class="heading"><i class="fas fa-user-plus fa-md"></i> Register</h1>
<form class="newForm" action="/register" method="POST">
    <div class="From-tag">
        <label for="username">Name</label>
        <input type="text" name="username" autocomplete="off" placeholder="Jhon Doe" required>
    </div>
    <div class="From-tag">
        <label for="email">Email</label>
        <input type="email" name="email" autocomplete="off" placeholder="Enter email" required>
    </div>
    <div class="From-tag">
        <label for="password">Password</label>
        <input type="password" name="password" placeholder="Enter password" required>
        <button type="submit" class="new">Register</button>
        <a class="new warning" href="/login">Login</a>
    </div>
    <input type="hidden" name="referer" value=<%= referer %>>
</form>

<%- include("../partials/footer")%>